@model Car

@{
    ViewData["Title"] = "Test of method Edit ";
}
@if (ViewData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewData["Error"]
    </div>
    <a asp-controller="TestBaseCrud" asp-action="Index">Back</a>
}
else
{
    <h6>@ViewData["Title"]</h6>
    <hr />
    <form asp-controller="TestBaseCrud" asp-action="Edit">
        <div class="row">
            <div class="col-md-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @Html.EditorForModel()
            </div>
        </div>
        <div class="d-flex flex-row mt-3">
            <button type="submit" class="btn btn-success">Edit</button>
        </div>
    </form>
    <a asp-controller="TestBaseCrud" asp-action="Index">Back</a>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
}


